<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
<meta charset="ISO-8859-1">
<title>New Event By DLithe</title>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
<!-- JS, Popper.js, and jQuery -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
</head>
<body>
<div class="container-fluid">
	<p class="text-primary display-4">[[${#httpServletRequest.remoteUser}]]</p>
	<form th:action="@{/logout}" method="post">
		<input class="btn btn-outline-dark" type="submit" value="Logout" />
	</form>
	<h1 class="display-4 text-center text-success">New Event</h1>
	<p th:text="${eve}"></p>
	<div class="row justify-content-center">
		<form class="col-md-6 sol-sm-12 form my-lg-5 shadow-lg rounded" action="#" th:action="@{/sub}" th:object=${object} method="post">
			<div class="form-group">
				<label for="eventName">Event Name</label>
				<input type="text" name="eventName" placeholder="Event name" class="form-control">
			</div>
			<div class="form-group">
				<label for="eventVenue">Event Venue</label>
				<input type="text" name="eventVenue" placeholder="Event venue" class="form-control">
			</div>
			<div class="form-group">
				<label for="eventExpert">Event Expert</label>
				<input type="text" name="eventExpert" placeholder="Event expert name" class="form-control">
			</div>
			<div class="form-group">
				<label for="eventDuration">Event Duration</label>
				<input type="text" name="eventDuration" placeholder="Event duration in days" class="form-control">
			</div>
			<div class="form-group">
				<label for="eventStarted">Event Start date</label>
				<input type="date" name="eventStarted" placeholder="Event started date MM/DD/YYYY" class="form-control">
			</div>
			<div class="form-group">
				<label for="eventEnded">Event End date</label>
				<input type="date" name="eventEnded" placeholder="Event ending date MM/DD/YYYY" class="form-control">
			</div>
			<div class="row justify-content-around my-4">
				<button class="btn btn-outline-info">Create</button>
				<button class="btn btn-outline-danger">Clear</button>
			</div>
		</form>
	</div>
</div>
</body>
</html>