<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
<meta charset="ISO-8859-1">
<title>Viewing Events</title>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
<!-- JS, Popper.js, and jQuery -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
</head>
<body>
	<div class="container-fluid">
		<p class="text-primary display-4">[[${#httpServletRequest.remoteUser}]]</p>
		<form th:action="@{/logout}" method="post">
			<input class="btn btn-outline-dark" type="submit" value="Logout" />
		</form>
		<p class="text-center text-success" th:text="${msg}"></p>
		<div class="row justify-content-center">
			<table class="col-md-6 col-lg-8 col-sm-12 table table-stripped table-responsive border rounded shadow-lg">
				<thead class="thead-primary">
					<tr>
						<th>Event ID</th><th>Event Name</th><th>Event Expert</th><th>Event Participants</th>
						<th>Event Venue</th><th>Event Start Date</th><th>Event End date</th><th>Event status</th>
					</tr>
				</thead>
				<tbody class="bg-dark text-light text-center">
					<tr th:each="tmp:${bulk}">
						<td>
							<a th:href="@{'/edit/'+${tmp.getEventId()}}">
								<p th:text="${tmp.getEventId()}"></p>
							</a>
						</td>
						<td th:text="${tmp.getEventName()}"></td>
						<td th:text="${tmp.getEventExpert()}"></td>
						<td>
							<a th:href="@{'/students/'+${tmp.getEventId()}}">
								<p th:text="${tmp.getEventParticipants()}"></p>
							</a>
						</td>
						<td>
							<a th:href="@{'/erase/'+${tmp.getEventId()}}">
								<p th:text="${tmp.getEventVenue()}"></p>
							</a>
						</td>
						<td th:text="${tmp.getEventStarted()}"></td>
						<td th:text="${tmp.getEventEnded()}"></td><td th:text="${tmp.getEventStatus()}"></td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</body>
</html>