<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <servlet>
  	<servlet-name>LoginServlet</servlet-name>
  	<display-name>LoginServlet</display-name>
  	<description></description>
  	<servlet-class>servlets.dlithe.strore.LoginServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>UploadApp</servlet-name>
  	<display-name>UploadApp</display-name>
  	<description></description>
  	<servlet-class>servlets.dlithe.strore.UploadApp</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>RatingServlet</servlet-name>
  	<display-name>RatingServlet</display-name>
  	<description></description>
  	<servlet-class>servlets.dlithe.strore.RatingServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>LoginServlet</servlet-name>
  	<url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>UploadApp</servlet-name>
  	<url-pattern>/UploadApp</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>RatingServlet</servlet-name>
  	<url-pattern>/RatingServlet</url-pattern>
  </servlet-mapping>
</web-app>
